[Desktop Entry]
Name=life_wallpaper
Name[ar]=life_wallpaper
Name[ca]=life_wallpaper
Name[ca@valencia]=life_wallpaper
Name[cs]=life_wallpaper
Name[da]=life_wallpaper
Name[de]=life_wallpaper
Name[en_GB]=life_wallpaper
Name[es]=life_wallpaper
Name[et]=life_wallpaper
Name[eu]=life_wallpaper
Name[fi]=life_wallpaper
Name[fr]=life_wallpaper
Name[gd]=life_wallpaper
Name[gl]=life_wallpaper
Name[hu]=life_wallpaper
Name[ia]=life_wallpaper
Name[id]=life_wallpaper
Name[it]=life_wallpaper
Name[ko]=life_wallpaper
Name[nb]=life_wallpaper
Name[nl]=life_wallpaper
Name[nn]=life_wallpaper
Name[pl]=life_wallpaper
Name[pt]=life_wallpaper
Name[pt_BR]=life_wallpaper
Name[ru]=life_wallpaper
Name[sk]=life_wallpaper
Name[sl]=life_wallpaper
Name[sr]=life_wallpaper
Name[sr@ijekavian]=life_wallpaper
Name[sr@ijekavianlatin]=life_wallpaper
Name[sr@latin]=life_wallpaper
Name[sv]=life_wallpaper
Name[tg]=life_wallpaper
Name[tr]=life_wallpaper
Name[uk]=life_wallpaper
Name[x-test]=xxlife_wallpaperxx
Name[zh_CN]=life_wallpaper
Name[zh_TW]=life_wallpaper
Comment=

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=org.kde.plasma.life_wallpaper
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
