[Desktop Entry]
Name=Conway's Game of Life
Name[ar]=Conway's Game of Life
Name[ca]=Conway's Game of Life
Name[ca@valencia]=Conway's Game of Life
Name[cs]=Conway's Game of Life
Name[da]=Conway's Game of Life
Name[de]=Conway's Game of Life
Name[en_GB]=Conway's Game of Life
Name[es]=Conway's Game of Life
Name[et]=Conway's Game of Life
Name[eu]=Conway's Game of Life
Name[fi]=Conway's Game of Life
Name[fr]=Conway's Game of Life
Name[gd]=Conway's Game of Life
Name[gl]=Conway's Game of Life
Name[hu]=Conway's Game of Life
Name[ia]=Conway's Game of Life
Name[id]=Conway's Game of Life
Name[it]=Conway's Game of Life
Name[ko]=Conway's Game of Life
Name[nb]=Conway's Game of Life
Name[nl]=Conway's Game of Life
Name[nn]=Conway's Game of Life
Name[pl]=Conway's Game of Life
Name[pt]=Conway's Game of Life
Name[pt_BR]=Conway's Game of Life
Name[ru]=Conway's Game of Life
Name[sk]=Conway's Game of Life
Name[sl]=Conway's Game of Life
Name[sr]=Conway's Game of Life
Name[sr@ijekavian]=Conway's Game of Life
Name[sr@ijekavianlatin]=Conway's Game of Life
Name[sr@latin]=Conway's Game of Life
Name[sv]=Conway's Game of Life
Name[tg]=Conway's Game of Life
Name[tr]=Conway's Game of Life
Name[uk]=Conway's Game of Life
Name[x-test]=xxConway's Game of Lifexx
Name[zh_CN]=Conway's Game of Life
Name[zh_TW]=Conway's Game of Life
Comment=

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=org.kde.plasma.gameoflife
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
